<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yu.web.base.mapper.AdminAccountInfoMapper">

  <resultMap type="com.yu.web.base.model.AdminAccountInfo" id="RESULT_ADMIN_ACCOUNT_INFO">
  	<id column="id" property="id"/>
    <result column="user_name" property="userName"/>
    <result column="bank" property="bank"/>
    <result column="account" property="account"/>
    <result column="mobile" property="mobile"/>
    <result column="create_date" property="createDate"/>
    <result column="last_update_date" property="lastUpdateDate"/>
    <association property="type" select="selectPaymentMethodTypeById" column="type_id"/>
  </resultMap>
  
  <resultMap type="com.yu.web.base.model.PaymentMethodType" id="RESULT_PAYMENT_METHOD_TYPE">
  	<id column="id" property="id"/>
    <result column="type_name" property="typeName"/>
    <result column="decription" property="decription"/>
  </resultMap>
  
  <select id="selectPaymentMethodTypeById" parameterType="int" resultMap="RESULT_PAYMENT_METHOD_TYPE">
  	select * FROM BIZ_PAYMENT_METHOD_TYPE where id = #{id}
  </select>
  
  <select id="selectById" parameterType="long" resultMap="RESULT_ADMIN_ACCOUNT_INFO">
  	SELECT * FROM BIZ_ADMIN_ACCOUNT_INFO WHERE id = #{id}
  </select>
  
  <select id="selectList" parameterType="AdminAccountInfoCondition" resultMap="RESULT_ADMIN_ACCOUNT_INFO">
  	SELECT * FROM BIZ_ADMIN_ACCOUNT_INFO
  	<include refid="select_list_where"/>
  	order by id desc
  </select>
  
  <insert id="insert" parameterType="AdminAccountInfo">
  	INSERT INTO BIZ_ADMIN_ACCOUNT_INFO(id,type_id,user_name,bank,account,mobile,CREATE_DATE,LAST_UPDATE_DATE)
  	 VALUES 
  	(#{id},#{type.id},#{userName},#{bank},#{account},#{mobile},now(),now())
  </insert>
  
  <update id="update">
  	update BIZ_ADMIN_ACCOUNT_INFO
  	<set>
  		last_update_date = now(),
  		<if test="userName != null and userName != ''">
  			user_name = #{userName},
  		</if>
  		<if test="bank != null and bank != ''">
  			bank = #{bank},
  		</if>
  		<if test="account != null and account != ''">
  			account = #{account},
  		</if>
  		<if test="mobile != null and mobile != ''">
  			mobile = #{mobile},
  		</if>
  	</set>
  	where id = #{id}
  </update>
  
  <sql id="select_list_where">
	  	<where>
	  		<if test="id != null and id != ''">
	  			and id = #{id}
	  		</if>
	  		<if test="paymentMethodType != null and paymentMethodType != ''">
	  			and type_id = #{paymentMethodType}
	  		</if>
		</where>
  </sql>
</mapper>